@inject ITextLocalizer Localizer
@{
    ViewData["Title"] = LoginFormTexts.LoginToYourAccount.ToString(Localizer);
    ViewData["PageId"] = "Login";
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

@if (ViewData["Activated"] != null)
{
    <input type="hidden" id="Activated" value="@ViewData["Activated"]" />
}

<div class="login-page-wrapper">
    @if (ViewData["Activated"] != null)
    {
        <div class="login-activation-alert">
            <div class="alert alert-success alert-dismissible mb-0">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true"></button>
                <i class="fa fa-check-circle me-2"></i>
                @SignUpFormTexts.ActivationCompleteMessage.ToString(Localizer)
            </div>
        </div>
    }
    <div id="LoginPanel" class="login-split-container">
    </div>
</div>

@Html.ModulePageInit(ESM.LoginPage, new
{
    activated = ViewData["Activated"] as string
})
